/* Universal */
* {
    font-family: "Nunito", sans-serif;
    
    /* Toggle visual aide */
    /* border: 1px red solid; */
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    background-color: #CDFCF6;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-inline-cc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.flex-cols-between-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.ta-center {
    text-align: center;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reg-font-size {
    font-size: 1em;
}

/* Navigation Bar */
#top {
    width: 97%; 
    padding: 11px; 
    background-color: #25316D; 
    color: #FAF7F0; 
    border-radius: 3px;
}

.w-33 {
    width: 33px;
}

.links {
    display: inline;
    text-align: left;
    width: 88%;
    margin-left: 11px;
}

.links > a {
    text-decoration: none;
    color: #FAF7F0;
    text-shadow: 0 0 10px rgb(0 255 255);
}

/* Radio Station */
.radio {
    width: 92%;
    padding: 7px;
    background-color: #25316D;
    margin: 11px auto;
    text-align: center;
    border-radius: 5px;
    height: 77px;
}

iframe {
    border-radius: 3px;
    width: 97%;
    height: 98%;
    margin: 0 auto;
}

/* Header */
header {
    height: 444px;
    width: 97%;
    margin: 11px;
}

.header-container {
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/daryldelrosario/co-landing-page/blob/main/resources/look-out-calgary.jpg?raw=true'); 
}

.header-content {
    background-color: rgba(0 0 0 / 0.5);
    color: white;
    width: 77%;
    height: 77%;
    border: 11px white ridge;
}

.ta-center > h1 {
    font-size: 2em;
    margin: 7px;
}

.ta-center > p {
    font-size: 1.2em;
}

.linked-btn-container {
    padding: 11px;
    border-radius: 22px;
    background-color: rgba(0 0 0 / 0.55);
    box-shadow: 0 0 10px rgb(0 255 255);
}

.cta-linkedin-icon {
    width: 30px;
    padding-right: 7px;
}

.linked-btn-content {
    font-size: 1.4em;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

/* Main Section */
main {
    width: 99%;
    margin: 7px;
}

/* Section - Image Gallery ahd Two Paragraphs*/
#gallery-two-paras {
    width: 97%;
}

/* Image Gallery */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 222px;
    box-shadow: 0 0 22px rgba(255 0 0 / 1);
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Two Paragraphs */
.two-paras {
    width: 77%;
    margin: 13px auto;
    background-color: #2D4263;
    color: #F1F6F5;
    border-radius: 3px;
}

.two-paras-content {
    padding: 11px;
    width: 55%;
    margin: 0 auto;
}

/* Collapsable Sections */
.detail-container {
    width: 88%;
    padding: 11px;
    background-color: black;
    color: white;
    margin: 7px;
    border-radius: 5px;
    box-shadow: 0 0 22px rgb(0 255 255);
}

/* Details */
.sum-header {
    font-size: 22px;
    padding: 11px;
}

.sum-area {
    background-color: #2D4263;
    padding: 22px;
    border-radius: 5px;
}

/* Intro Section */
.intro-image-container {
    height: 222px;
    width: 100%;
    text-align: center;
}

.intro-image {
    height: 100%;
    box-shadow: 0 0 22px rgb(0 255 255);
}

/* About Me Section */
.about-me-links {
    text-decoration: none;
    color: white;
    text-shadow: 0 0 22px rgb(0 255 255);
}

.connect-container {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.connect-container h1 {
    padding: 3px;
    margin: 0;
    font-size: 18px;
}

.grid-connect-container {
    height: 50px;
}

.grid-connect {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: 50px;
    column-gap: 11px;
}

.grid-connect-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Blog Post */
#blog iframe {
    height: 555px;
    width: 100%;
}

.note {
    font-size: 0.9em;
}

/* Contact Section */
.form-style {
    text-align: center;
    width: 77%;
    margin: 0 auto;
}

.form-style h1 {
    margin: 0;
    padding: 0;
}

.form-style h2 {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
}

.form-style-content {
    padding: 7px;
}

.form-style-content input {
    padding: 5px;
    margin: 5px;
}

/* Footer */
footer {
    width: 99%;
    padding: 11px;
    margin-top: 11px;
    text-align: center;
    background-color: #25316D;
    color: #FAF7F0;
    font-size: 2em;
    font-weight: 900;
}

.footer-icons {
    display: inline;
}

.footer-icons a img {
    width: 22px;
}