* {
    font-family: "Nunito", sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    background-color: #CDFCF6;
}

/* Navigation Bar */
#top {
    width: 97%; 
    padding: 11px; 
    background-color: #25316D; 
    color: #FAF7F0; 
    border-radius: 3px;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.w-33 {
    width: 33px;
}

.links {
    display: inline;
    text-align: left;
    width: 88%;
    margin-left: 11px;
}

.links > a {
    text-decoration: none;
    color: #FAF7F0;
    text-shadow: 0 0 10px rgb(0 255 255);
}