/* Universal */
* {
    font-family: "Nunito", sans-serif;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    height: 100%; 
    background-color: #CDFCF6;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-inline-cc {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.ta-center {
    text-align: center;
}

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reg-font-size {
    font-size: 1em;
}

/* Navigation Bar */
#top {
    width: 97%; 
    padding: 11px; 
    background-color: #25316D; 
    color: #FAF7F0; 
    border-radius: 3px;
}

.w-33 {
    width: 33px;
}

.links {
    display: inline;
    text-align: left;
    width: 88%;
    margin-left: 11px;
}

.links > a {
    text-decoration: none;
    color: #FAF7F0;
    text-shadow: 0 0 10px rgb(0 255 255);
}

/* Radio Station */
.radio {
    width: 92%;
    padding: 7px;
    background-color: #25316D;
    margin: 11px auto;
    text-align: center;
    border-radius: 5px;
    height: 77px;
}

iframe {
    border-radius: 3px;
    width: 97%;
    height: 98%;
    margin: 0 auto;
}

/* Header */
header {
    height: 444px;
    width: 97%;
    margin: 11px;
}

.header-container {
    width: 100%;
    height: 100%;
    background-image: url('https://github.com/daryldelrosario/co-landing-page/blob/main/resources/look-out-calgary.jpg?raw=true'); 
}

.header-content {
    background-color: rgba(0 0 0 / 0.5);
    color: white;
    width: 77%;
    height: 77%;
}

.ta-center > h1 {
    font-size: 2em;
}

.ta-center > p {
    font-size: 1.2em;
}

.linked-btn-container {
    padding: 11px;
    border-radius: 22px;
    background-color: rgba(0 0 0 / 0.55);
    box-shadow: 0 0 10px rgb(0 255 255);
}

.cta-linkedin-icon {
    width: 30px;
    padding-right: 7px;
}

.linked-btn-content {
    font-size: 1.4em;
    font-weight: 900;
    text-decoration: none;
    color: white;
}